
 body {
     background: rgb(190, 190, 190);
     color: rgb(0, 0, 0)

    }
    body {
      font-family: 'Roboto', sans-serif;
    }


h1 { 
    background: rgb(190, 190, 190);
    

}
h2 { 
  background: rgb(190, 190, 190);
  float: right;

}

p {
    color: rgb(0, 0, 0);
    
}
a:link {color:rgb(0, 0, 180)}
  a:visited {color:purple}
  a:hover {color:rgb(0, 0, 180)}
  a:active {color: purple}


img {
      float: right;
      height: 250px;
      width: 135px;
    }
    p { 
      float: left;
    }



    
   

