
 body {
     background: rgb(190, 190, 190);
     color: rgb(0, 0, 0)
}



h1 { 
    background: rgb(190, 190, 190);
    

}

p {
    color: rgb(0, 0, 0);
    
}
a:link {color:rgb(0, 0, 180)}
  a:visited {color:purple}
  a:hover {color:rgb(0, 0, 180)}
  a:active {color: purple}


img {
      float: left;
      width: 135px;
    }
    p { 
      float: left;
    }



    
   

